.depart{
    padding-left: 20px;
    width: 350px;
    font-weight: 500;
    height: 50px;
    font-size: 13px;
    border: 1px solid skyblue ;
    color: #7575A1 ;
    background: transparent ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
     border-radius: 0;
     margin-top: 20px;
     margin-left:10px;
}
.car{
    padding-left: 20px;
    width: 400px;
    font-weight: 500;
    height: 50px;
    font-size: 13px;
    border: 1px solid skyblue ;
    color: #7575A1 ;
    background: transparent ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
     border-radius: 0;
     margin-top: 20px;
    }
.btnradio{
        margin-top: 16px;
        margin-left: 20px;
}
.commentaire{
    width: 400px;
    height: 100px;
}
#btnTrajet{
    background-color: #AB235A;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

