.depart{
    padding-left: 20px;
    width: 350px;
    font-weight: 500;
    height: 50px;
    font-size: 13px;
    border: 1px solid skyblue ;
    color: #7575A1 ;
    background: transparent ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
     border-radius: 0;
     margin-top: 20px;
     margin-left:10px;
}
.car{
    padding-left: 20px;
    width: 400px;
    font-weight: 500;
    height: 50px;
    font-size: 13px;
    border: 1px solid skyblue ;
    color: #7575A1 ;
    background: transparent ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
     border-radius: 0;
     margin-top: 20px;
    }
.btnradio{
        margin-top: 16px;
        margin-left: 20px;
}
.commentaire{
    width: 400px;
    height: 100px;
}
#btnTrajet{
    background-color: #F7B71D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.profil{
    padding-left: 20px;
    width: 250px;
    font-weight: 500;
    height: 50px;
    font-size: 13px;
    border: 1px solid skyblue ;
    color: #7575A1 ;
    background: transparent ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
     border-radius: 0;
     margin-top: 5px;
}
#titre1{
    color: rgb(247, 140, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: 300px;
}
#titre2{
    color: rgb(247, 70, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
#attribut{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#part2{
    padding: 16px;
  background-color: rgb(247, 247, 247);
}
#btt1 {
    background-color: #F7B71D;
    padding: 16px 20px;
    margin: 8px 0;
    margin-left:600px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    color: white;
  }
#btt2 {
    background-color: #F7B71D;
    padding: 16px 20px;
    margin: 8px 0;
    margin-left:60px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    color: white;
  }
#bttreserver {
    background-color: #FB973D;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    color: white;
  }
#mesVoitures {
    background-color: #F7B71D;
    padding: 16px 10px;
    margin-left:100px;
    border: none;
    cursor: pointer;
    width: 50%;
    color: white;
  }
#bttAnnonce {
    background-color: #F7B71D;
    padding: 16px 10px;
    margin-left:100px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    color: white;
  }
  #bt1{
      width: 250px;
  }
.taswirti { 
    height:50px;
} 
.menuyeah{ 
    margin-top: 10px;
} 
#loggedU { 
    padding-left: 20px;
    color: #ffffff;
}
#destination{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: brown;
}
#profilTitre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    color: rgb(247, 70, 0);
    margin-left: 600px;
}
#voitureTitre{
    font-family: unset;
    font-size:30px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
#personelTitre{
    font-family: unset;
    font-size:30px;
    color: rgb(0, 0, 0);
    margin-left: 300px;
}

#attribut{
    width: 460px;
}